@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* PAGE d'accueil */
.reservation {
  text-align: center;
  background-color: #f6f6f6;
  padding: 3rem;
  line-height: 3rem;
}

.reservation__info h4 {
  font-weight: 300;
}

.btn--gradient {
  color: #fff;
  background: linear-gradient(167deg, #FF79DA, #9356DC);
  border-style: none;
  padding: 1.2rem 1.4rem;
  border-radius: 90px;
  font-size: 1.1em;
  cursor: pointer;
}
.btn--gradient:hover {
  opacity: 0.9;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.699);
}

.fonctionnement__container {
  width: 90vw;
  margin: auto;
  margin-top: 50px;
}

.fonctionnement__card {
  width: 80vw;
  background-color: #f6f6f6;
  margin: 1rem;
  display: flex;
  align-items: center;
  border-radius: 1.6rem;
  cursor: pointer;
}
.fonctionnement__card .fas {
  color: #7e7e7e;
}

.fonctionnement__card--colored:hover {
  background-color: #f5edff;
}
.fonctionnement__card--colored:hover .fas {
  color: #9356DC;
}

.fonctionnement__card-numero {
  background-color: #9356DC;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: absolute;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-20px, 0px);
}

.fonctionnement__card-title {
  display: flex;
  margin: 1.6rem;
  margin-left: 2rem;
  width: 100%;
}

.fonctionnement__card-text {
  font-weight: 500;
  padding-left: 4%;
}

.restaurants {
  background-color: #f6f6f6;
  margin-top: 60px;
}

.restaurants__container {
  width: 90vw;
  margin: auto;
  line-height: 2rem;
}
.restaurants__container h2 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.restaurant__card {
  width: 90vw;
  border-radius: 1rem;
  box-shadow: 0px 3px 16px #0000006b;
  margin-bottom: 20px;
}

.restaurant__card--img-container {
  overflow: hidden;
  max-height: 220px;
  position: relative;
}
.restaurant__card--img-container .restaurant__card--nouveau {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 8px;
  color: #008766;
  background-color: #99e2d0;
  padding: 8px;
}

.restaurant__card--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.restaurant__card--caption {
  display: flex;
  padding: 0.4rem 2.2rem;
  justify-content: space-between;
  line-height: 2rem;
}

.heart-icon {
  font-size: 1.2em;
  color: #fff;
  background: transparent;
  -webkit-text-stroke: 1px #353535;
  cursor: pointer;
  transition: all 4s;
}
.heart-icon:hover {
  color: transparent;
  -webkit-text-stroke: 1px transparent;
  background: linear-gradient(338deg, #9356DC, #FF79DA);
  background: -webkit-gradient(338deg, #9356DC, #FF79DA);
  background: -o-linear-gradient(338deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
}

/* PAGES menus des restaurants */
.background-img {
  max-width: 100vw;
  max-height: 400px;
  overflow: hidden;
  z-index: 0;
  position: relative;
}

.background-img--img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu__container {
  position: relative;
  margin-top: -4rem;
  padding-bottom: 3rem;
  border-radius: 1.6rem 1.6rem 0 0;
  z-index: 1;
  background-color: #f6f6f6;
}
.menu__container .menu__btn {
  text-align: center;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.menu__header h2 {
  font-family: "Shrikhand", cursive;
}

.menu {
  margin: 1rem;
  padding-bottom: 2rem;
  animation: apparitiongraduelle 2s;
}
@keyframes apparitiongraduelle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu .menu__title {
  font-weight: 400;
}
.menu hr {
  margin-top: 4px;
  border: 1px solid #99e2d0;
  width: 40px;
}

.menu__card {
  background-color: #fff;
  border-radius: 1rem;
  margin-top: 1rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.menu__card:hover .menu__card__animation {
  transform: scaleX(1);
  min-width: 70px;
}
.menu__card:hover .menu__card__animation .fa-check-circle {
  transform: rotate(360deg);
}

.menu__card__info {
  padding: 1rem;
  font-size: 0.9em;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 100%;
  min-width: 0;
  line-height: 1.6rem;
}

.menu__card__info--title {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__card__info--container {
  display: flex;
  justify-content: space-between;
}

.menu__card__info--description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__card__info--price {
  font-weight: bold;
}

.menu__card__animation {
  background-color: #99e2d0;
  cursor: pointer;
  transform: scaleX(0);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 0 1rem 1rem 0;
  transition: all 1s;
  transform-origin: right 50%;
}

.fa-check-circle {
  color: #fff;
  transition: all 1s;
  transform: rotate(0deg);
}

.price {
  font-weight: bold;
}

/* DESKTOP responsive */
@media screen and (min-width: 992px) {
  .fonctionnement {
    text-align: center;
    margin: auto;
  }
  .fonctionnement .fonctionnement__card {
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
  }

  .restaurants__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .restaurants__container h2 {
    width: 100%;
    text-align: center;
  }
  .restaurants__container .restaurant__card {
    width: 40%;
    margin: 1rem;
  }

  .menu__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu__header {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .menu {
    width: 30%;
  }

  .menu__btn {
    width: 100%;
  }
}
/* LOADING de la page d'accueil */
.loader {
  font-family: "Shrikhand", cursive;
  height: 0%;
  width: 0%;
  position: absolute;
  background: #fff;
  z-index: 1;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  animation: opacite 2500ms linear;
  opacity: 0;
}
@keyframes opacite {
  0% {
    opacity: 1;
    height: 100%;
    width: 100%;
  }
  50% {
    opacity: 1;
  }
  99% {
    height: 100%;
    width: 99%;
  }
  100% {
    opacity: 0;
    height: 0%;
    width: 0%;
  }
}

.spinner {
  width: 3rem;
  height: 3rem;
  margin-right: 16px;
  border: 6px solid #FF79DA;
  border-radius: 50%;
  border-top: 6px solid #9356DC;
  animation: rotation 2500ms linear;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
